# ========================
# Webserver Configuration
# ========================
PORT=8000
CORS_ALLOWED_DOMAINS="*"

# ========================
# Database Configuration
# ========================
REDIS_URL=redis://redis/0
TOKEN_CACHE_EXPIRATION = 3600  
PAIR_CACHE_EXPIRATION = 3600  
VARA_CACHE_EXPIRATION = 3600  
SUPPLY_CACHE_EXPIRATION = 3600  


# ========================
# Web3 Configuration
# ========================
WEB3_PROVIDER_URI=https://evm.kava.io

# ========================
# Token Configuration
# ========================
# List of our tokens
TOKENLISTS=https://gist.githubusercontent.com/pythinking/1ef5e6693a4496c5e4c7f22dd0ba3b3a/raw/f7bae985a86d18d37de993f4dacb2569987649ae/tokenlist.json
#TOKENLISTS=https://raw.githubusercontent.com/equilibre-finance/tokens/main/list.json
#TOKENLISTS=https://raw.githubusercontent.com/equilibre-finance/tokens/dev/list.json

# Tokens to be ignored. Can be a token or NFT
IGNORED_TOKEN_ADDRESSES=0x9d8054aaf108a5b5fb9fe27f89f3db11e82fc94f,0x31f8d38df6514b6cc3c360ace3a2efa7496214f6

# ========================
# Address Configuration
# ========================
# Various contract addresses used in the application
ROUTER_ADDRESS=0xA7544C409d772944017BB95B99484B6E0d7B6388
FACTORY_ADDRESS=0xA138FAFc30f6Ec6980aAd22656F2F11C38B56a95
VOTER_ADDRESS=0x4eB2B9768da9Ea26E3aBe605c9040bC12F236a59
GAUGE_ADDRESS=0xa337E9426d080970b026caFfb4a83D185b85A124 
VE_ADDRESS=0x35361C9c2a324F5FB8f3aed2d7bA91CE1410893A
REWARDS_DIST_ADDRESS=0x8825be873e6578F1703628281600d5887C41C55A
WRAPPED_BRIBE_FACTORY_ADDRESS=0x8af2f4Ae1DA95556fC1DaC3A74Cbf2E05e7006ab
TREASURY_ADDRESS=0xE1da44C0dA55B075aE8E2e4b6986AdC76Ac77d73                
DEFAULT_TOKEN_ADDRESS=0xE1da44C0dA55B075aE8E2e4b6986AdC76Ac77d73           
NATIVE_TOKEN_ADDRESS=0xc86c7C0eFbd6A49B35E8714C5f59D99De09A225b            
STABLE_TOKEN_ADDRESS=0xeb466342c4d449bc9f53a865d5cb90586f405215

ROUTE_TOKEN_ADDRESSES=0x765277EebeCA2e31912C9946eAe1021199B39C61,0xDb0E1e86B01c4ad25241b1843E407Efc4D615248


# ========================
# Price Feed Configuration
# ========================
# Control the price feed order
EXTERNAL_PRICE_ORDER=_get_price_from_defillama,_get_price_from_dexscreener,debank_price_in_stables,dexguru_price_in_stables
INTERNAL_PRICE_ORDER=bluechip_tokens,axelar_bluechips,route_token,direct,native_token,stable_token,chain_price_in_pairs

# Axelar Tokens - axlUSDC,  axlUSDT, axlETH,  axlWBTC
AXELAR_BLUECHIPS_ADDRESSES=0xEB466342C4d449BC9f53A865D5Cb90586f405215,0x7f5373AE26c3E8FfC4c77b7255DF7eC1A9aF52a6,0xb829b68f57CC546dA7E5806A929e53bE32a4625D,0xe3f5a90f9cb311505cd691a46596599aa1a0ad7d,0x1a35EE4640b0A3B87705B0A4B45D227Ba60Ca2ad,0x06bee9e7238a331b68d83df3b5b9b16d5dba83ff

# Bluechips - wBTC, wKAVA
BLUECHIP_TOKEN_ADDRESSES=0x818ec0A7Fe18Ff94269904fCED6AE3DaE6d6dC0b,0xc86c7C0eFbd6A49B35E8714C5f59D99De09A225b,0x765277eebeca2e31912c9946eae1021199b39c61

# ========================
# Syncing Configuration
# ========================
# Seconds between on-chain syncups
SYNC_WAIT_SECONDS=20
RETRY_DELAY=3
RETRY_COUNT=3

# ========================
# Logging Configuration
# ========================
LOG_VERBOSE=DEBUG
LOG_SAVE=0

# ========================
# Miscellaneous
# ========================
# Default Decimal for tokens
DEFAULT_DECIMAL=18

# Check prices internal first
GET_PRICE_INTERNAL_FIRST=False
