# Webserver config
PORT=8000

# Databases config
REDIS_URL=redis://redis:6379/0

# Web3
WEB3_PROVIDER_URI=https://evm.kava.io

# Addresses
ROUTER_ADDRESS=0x5Ba67865851e5918b31BFD010F50cf1d47164c58
FACTORY_ADDRESS=0x66Cd011aDfF20f2B4bA60cDd30099B5E09CcACd1
VOTER_ADDRESS=0x5341E6A0900cdCF828624C43Ea7f69C216e37f0B
GAUGE_ADDRESS=0xF4Ac9D42f0DD250be21a1465716700A95DD18D63    # TODO: not used in API?
VE_ADDRESS=0x298A097904ac1bCbD13b2AC61fE1a7F051F1a7bd
REWARDS_DIST_ADDRESS=0x48cc3608F6ca5300dD1535ADbb4fe1CF452Ed51A
WRAPPED_BRIBE_FACTORY_ADDRESS=0x3b487BD74d6A7369cD41a65776cd8F9af43878a6    # TODO confirm this is supposed to be WrappedExternalBribe
# Valid tokenlists.org lists. Use `|` to separate URIs.
TOKENLISTS=https://raw.githubusercontent.com/equilibre-finance/tokens/main/list.json
# These two will be fetched from the tokenlist
DEFAULT_TOKEN_ADDRESS=0x6C2A54580666D69CF904a82D8180F198C03ece67    # TODO: confirm EQ is fine
# USDC/USDT or equivalent...
STABLE_TOKEN_ADDRESS=0xfA9343C3897324496A05fC75abeD6bAC29f8A40f
# These will be used for multi-hop swaps, comma-separated addresses
ROUTE_TOKEN_ADDRESSES=0x4200000000000000000000000000000000000006
# Tokens we should just ignore...
IGNORED_TOKEN_ADDRESSES=0xDeadDeAddeAddEAddeadDEaDDEAdDeaDDeAD0000

# Syncing config

## Seconds between on-chain syncups
SYNC_WAIT_SECONDS=20

CORS_ALLOWED_DOMAINS="*"