# Webserver config
PORT=8000

# Databases config
REDIS_URL=redis://redis/0

# Web3
WEB3_PROVIDER_URI=https://evm.kava.io

# Addresses
ROUTER_ADDRESS=0x84C645B1d7499cD9f9617a271904C3d6A7214836
FACTORY_ADDRESS=0x7e6F3eC9F81051e8fb34B14CA76C1fEd39237e47
VOTER_ADDRESS=0xC0e936D14c5a815642B1b7f342486716E3d6CE9e
GAUGE_ADDRESS=0xB6800483EA5D0FaD6d0F3D551E586bA187d2103D    # TODO: not used in API?
VE_ADDRESS=0x09af51b5D5d4D61b64C64Aaf8Ba0B1133E55fe06
REWARDS_DIST_ADDRESS=0x02DC3F98A324658Eb6978b7231Fb9980C2E8D5e6
WRAPPED_BRIBE_FACTORY_ADDRESS=0xBf4d0BC6A6E1f356151D8258a2f801990A3EF307    # TODO confirm this is supposed to be WrappedExternalBribe
# Valid tokenlists.org lists. Use `|` to separate URIs.
TOKENLISTS=https://raw.githubusercontent.com/equilibre-finance/tokens/main/list.json
# These two will be fetched from the tokenlist
DEFAULT_TOKEN_ADDRESS=0x73Ff151Ec6Ae40938Af88c0a621B9667c39E395E    # TODO: confirm EQ is fine
# USDC/USDT or equivalent...
STABLE_TOKEN_ADDRESS=0xfA9343C3897324496A05fC75abeD6bAC29f8A40f
# These will be used for multi-hop swaps, comma-separated addresses (EQ, USDC, wKAVA)
ROUTE_TOKEN_ADDRESSES=0x73Ff151Ec6Ae40938Af88c0a621B9667c39E395E,0xfA9343C3897324496A05fC75abeD6bAC29f8A40f,0xc86c7C0eFbd6A49B35E8714C5f59D99De09A225b
# Tokens we should just ignore...
IGNORED_TOKEN_ADDRESSES=0xDeadDeAddeAddEAddeadDEaDDEAdDeaDDeAD0000

# Syncing config

## Seconds between on-chain syncups
SYNC_WAIT_SECONDS=20

CORS_ALLOWED_DOMAINS="*"