name: New pull request CI

on: pull_request

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push API
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: equilibrefinance/api:${{ github.head_ref }}-${{ github.run_attempt }}
          target: prod

      - name: Run tests
        run: |
         docker run --rm --env-file=env.example --entrypoint sh equilibrefinance/api:${{ github.head_ref }}-${{ github.run_attempt }} -c 'pip install coverage flake8 && flake8 && coverage run --source=app setup.py test && coverage report'

      
